body{background-color: azure;
padding-left: 400px;
padding-right:200px;}

h1{color: blue;
padding-left:21px;}
.ing{color: darkcyan;
padding-left:21px;}

#noodleimg{padding-left:21px;
          padding-right:21px;
          width: 405px;}
ul{color: #a21ed2;}

#ins{color: darkslateblue;
padding-left:21px;}

ol{color: #ff00a6;}